{% extends 'base.html' %}

{%load static%}
    
{% block lienCss %}
    <link rel="stylesheet" href="{%static 'css/ustyle.css'%}">
    {% endblock %}						


    {% block body %}
<!--Formulaire -->
	
<section class="grouper">
   
            <div class="form-container">
                <h1>Ajouter un utilisateur</h1>
                <p> <a href="{% url 'utilisateur:index' %}">Retour <i class="	fas fa-arrow-circle-right"></i></a></p>
               
               
                <form>

                    <div class="form-group">
                        {{form}}
                    </div>

                    <div class="form-buttons">
                        <button type="button" class="cancel-button">Annuler</button>
                        <button type="submit" class="submit-button">Enregistrer</button>
                    </div>
                </form>
               
               <!--<form>
                    <div class="form-group">
                        <label for="pseudo"> </label>
                        <input type="text" id="nom" placeholder="pseudo" name="pseudo">
                    </div>
                    <div class="form-group">
                        <label for="mot de passe"> </label>
                        <input type="text" id="prenom" placeholder="mot de passe" name="mot de passe">
                    </div>
                   
                   
                    <div class="form-group">
                        <label for="confirmer"> </label>
                        <input type="text" id="telephone" placeholder="confirmer mot de passe" name="confirm">
                    </div>
                   
                    <div class="form-buttons">
                        <button type="button" class="cancel-button">Annuler</button>
                        <button type="submit" class="submit-button">Enregistrer</button>
                    </div>
                </form>
            </div> --> 

        </section>

	<script src="code.js"></script>
	
	{% endblock body %}
	
	
	

